form input[name='sub']{
	background-color: blue;
	color: white;
	width: 30%;
	position: absolute;
	left: 30%;
}
body{
	width: 100%;
	height: 100%;
}
section{
	width: 70%;
	position: absolute;
	right: -15%;
	top: 2%;
	text-align: right;
}
.row{
	width: 100%;
}
iframe{
	position: absolute;
	left: 3%;
	top: 10%;
	width: 30%;
	height: 60%;
}
