form input[name='sub']{
	background-color: #072875;
	color: white;
	width: 30%;
	position: absolute;
	right: 5%;
}
body{
	width: 100%;
	height: 100%;
	background-color: #EDF0F8;
}
section{
	width: 70%;
	position: absolute;
	right: -15%;
	top: 2%;
	text-align: right;
	color: #072875;
	background-color: #EDF0F8;
}
.row{
	width: 100%;
}
iframe{
	position: absolute;
	left: 3%;
	top: 10%;
	width: 30%;
	height: 60%;
}
@media screen and (max-width: 900px){
	section{
		width: 100%;
	}
	iframe{
		top : 75% ;
		width: 70%;
	}
}
