table .tr{
	text-align: center;
	height: 60px;
}
table .tr a{
	color: #072875 ;
	text-decoration: none;
}
table .tr a:hover{
	font-size: 18px;
}
label.filebutton {
    overflow:hidden;
    position:relative;
}
label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}