body{
	width: 100%;
	width: 100%;
	background-image: url("image.jpg");
	text-align: center;
}
form{
	width: 30%;
	height: 50%;
	border: 2px solid black ;
	border-radius: 10px;
	position: absolute;
	top: 35%;
	left: 35%;
	padding: 30px;
}
input[name='sub']{
	background-color: blue;
	color: white;
}